<!DOCTYPE html>
<html>
  <head>
    <title>Creditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Autor: <%= author %></h1>
    <p>
      <img src=" https://avatars1.githubusercontent.com/u/17640841?v=3&s=460" style="max-width: 250px;"> 
    </p>
    <p>
      <iframe width="360" height="250" src="https://www.youtube.com/embed/3fJWfC5w-YA" frameborder="0" allowfullscreen></iframe>
    </p>
  <footer>
  	<a href=<%= url %>>
      GITHUB-QUIZ</a>
    <p><a href="/">Volver</a></p>
	</footer>
  </body>
</html>