<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrá crear sus propios juegos!</p>
    <p><a href="/question">Comience a jugar</a></p>
    <p> <a href="/author"> Pagina de Créditos</a>
    </p>
  <footer>
    <a href="<%= url %>">
      GITHUB-QUIZ</a>
  </footer>
  </body>
</html>
